body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/img/artwork-7182495_1280.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.2); /* White with 80% opacity */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
  max-width: 800px;
}

.content {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #3c3c4f;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #780e0e;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #d0ff00;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #070057;
}
